*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: #eeeeee;
}

/* Notification icon styling */
.fa-bell{
  font-size: 22px;
  margin-left: 10px;
}

/* Navbar brand logo positioning */
@media screen and (max-width: 600px){
  .brand-logo{
    position: absolute!important;
    left:40%!important;
  }
}

.cardContainer{
  height: auto;
  max-width: 500px;
  margin:auto;
  margin-bottom: 16px;
}

/* Modal Group Styling */
.modalGroup{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}


/* modal styling */
.modal-content{
  padding-bottom: 0px!important;
  margin: 0;
  min-height: 200px;
  max-height: auto;
}
textarea.materialize-textarea{
  min-height: 200px;
}
.modal-footer{
  padding: 0 24px!important;
}

/* profile icon hover customize */
#profile_icon:hover{
  background: transparent;
}
